<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>
ITREATE THROUGH OBJ>>>>>>>>......................................................
<ion-content>

</ion-content> -->



  <div class="header">
    <h1>Hey Torus</h1>
    <!-- <button id="moviebtn" type="button" (click)="Welcome()">
      logout
    </button> -->
    <ion-icon  id="moviebtn" name="log-out-outline" (click)="Welcome()"></ion-icon>
  </div>

  <div class="list">
    <div class="col-3 col-s-3 menu">
      <ul > 
        <li *ngFor="let item of SendToHtml()" (click)="GoToService(item.service)">{{item.service }}</li> 
      
      </ul>
  
    </div>
  </div>

  <div class="footer">
    <h2>Thanks For Visiting Us!</h2>
  </div>

